# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.tsbuildinfo

.DS_Store
node_modules/
firebase/firebase-export-1744963693881myRjx5/firestore_export/firestore_export.overall_export_metadata
